@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-5">Razor Page Examples</h1>
    <p>Learn more about  <a href="https://www.linkedin.com/learning/search?keywords=razor%20pages">Razor Pages</a> or <a href="https://www.linkedin.com/learning/instructors/walt-ritscher">my courses.</a></p>
	<div><a class="btn btn-primary" href="https://github.com/WaltRitscher/ExploreRazorPages">Source code on GitHub</a></div>
</div>
